.left{
    height:300px;
    width: 300px;
    background-color: #c2e5e3;
    float: left;
    position: relative;
    margin-right: 10px;
    padding: 10px;
    margin-top: 10px;
    font-size: 30px;
}

.center{
    float:center;
    position: relative;
    margin-top: 10px;
    font-size: 40px;
}

.right{
    height:300px;
    width: 300px;
    position: relative;
    margin-left: 550px;
    margin-top: -260px;
    background-color: #c2e5e3;
    padding: 10px;
    font-size: 30px;
}

.border{
    border-radius: 10px;
    border-color:black ;
}